*::before,*::after{
  box-sizing: border-box;
}

.firstKey{
  margin-left: 50px !important;
}
.majorKey{
background-color: white;
width:60px;
height:240px;
margin-top: 30px;
margin-right: 0;
margin-left: 0;
border: 1px solid black;
display: inline-block;
text-align: center;
vertical-align: bottom;
z-index: 1;
}


.KeyHolder{
  background-color: grey;
  margin-left: 10px;
  height:300px;
  width:800px;
  line-height: 400px;
  position: absolute;
  display: flex;
}

.minorKey{
background-color: black;
width:30px !important;
height: 120px !important;
z-index:2;
margin-top: 30px;
margin-left: -15px;
margin-right: -15px;
display: inline-block;
}
